$structure-container-width-max: 960px;
$breakpoint-xxsmall: 300px;
$breakpoint-xsmall: 400px;
$breakpoint-small: 500px;
$breakpoint-medium-small: 600px;
$breakpoint-medium: 760px;
$breakpoint-medium-large: 960px;
$breakpoint-large: 1024px;

